@charset 'UTF8';

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Staatliches&display=swap');

:root {
    --color1: #5021FA;
    --color2: #1D27DE;
    --color3: #2B6CF5;
    --color4: #1D8DDE;
    --color5: #21D8FA;
    --color6: #292a2d;
    --color7: #101011;
    --color8: #eee;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --hover-background: #333;
    --hover-border: #eee;
    --header-background: #171718;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(#eee);
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    height: 88%;
    position: fixed;
    top: 15%;
    right: 0;
    left: 0;
}

.logout-container {
    display: flex;
    justify-content: right;
}

.logout-button {
    background-color: #ff4b5c; /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    margin: 20px;
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove sublinhado */
    display: inline-block; /* Faz o botão se comportar como um bloco inline */
    font-size: 16px; /* Tamanho do texto */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Animação suave */
}

.logout-button:hover {
    background-color: #e60026; /* Cor de fundo ao passar o mouse */
}


.navbar-1 {
    width: 0%;
    height: 0%;
    background-color: var(#eee);
}

.navbar-2 {
    height: 100%;
    width: 100%;
    background-color: var(#eee);
}

.navbar-2 h1 {
    padding: 20 80;
}

.navbar-2 .options {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.navbar-2 .options #openInsertModalBtn {
    background-color: #6c6f6c; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 0px 13px; /* Espaçamento interno */
    margin: 0px 0px;
    border: none; /* Remover a borda padrão */
    border-radius: 50%; /* Deixar o botão redondo */
    text-align: center; /* Centralizar o texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Manter o botão inline */
    font-size: 30px; /* Tamanho da fonte */
    cursor: pointer; /* Mostrar cursor de ponteiro */
    box-shadow: 0 2px 4px var(--shadow-color); /* Sombra */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

.navbar-2 .options #openInsertModalBtn:hover {
    background-color: #4d4d4d; /* Cor de fundo no hover */
}

/* O modal é inicialmente invisível */
.insert-modal {
    display: none; /* Começa escondido */
    position: fixed; /* Fica fixo na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com opacidade */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    z-index: 1000; /* Garante que o modal fique acima dos outros elementos */
}

/* O conteúdo do modal */
.insert-modal-content {
    bottom: 32%;
    background-color: #fff; /* Cor de fundo do modal */
    border-radius: 5px; /* Bordas arredondadas */
    max-width: 65%;
    position: relative; /* Permite posicionar o botão de fechar */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
}

.insert-modal-content #insert-boletoForm {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Espaçamento entre os selects */
    width: 100%; /* Ocupa toda a largura disponível */
}

.insert-modal-content #insert-boletoForm label {
    padding: 10px 0px 0px 0px;
}

.insert-modal-content #insert-boletoForm input, h2 {
    padding: 2px 20px;
}

.valor-vencimento-container {
    padding: 15px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.insert-boletoForm #insert-save-button {
    background-color: #6c6f6c; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 5px; /* Espaçamento interno */
    margin: 15px 0px 0px 0px;
    border: none; /* Remover a borda padrão */
    text-align: center; /* Centralizar o texto */
    text-decoration: none; /* Remover sublinhado */
    display: inline-block; /* Manter o botão inline */
    font-size: 30px; /* Tamanho da fonte */
    cursor: pointer; /* Mostrar cursor de ponteiro */
    box-shadow: 0 2px 4px var(--shadow-color); /* Sombra */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

.insert-boletoForm #insert-save-button:hover {
    background-color: #4d4d4d; /* Cor de fundo no hover */
}

.svg-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    margin: 15px 0px 0px 0px;
}

#codigoBarrasSVG {
    width: 830px;
    height: 120px;
}

/* Botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

main .search {
    margin: 0px 5px;
    width: 100%;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.227);
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

main .search:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.233);
}

main .search label i {
    color: rgb(139, 139, 139);
    padding: 15px;
}

main .search input { 
    background-color: transparent;
    color: black;
    width: 94%;
    border: transparent;
    font-size: 20px; /* Tamanho da fonte */
}

main .search input:focus { 
    outline: none;
}

.options select {
    width: 50px;
    height: 100%;
    background-color: #6c6f6c; /* Cor de fundo */
    color: transparent; /* Torna o texto transparente */
    padding: 0px 13px; /* Espaçamento interno */
    margin: 0px 5px;
    border: none; /* Remover a borda padrão */
    border-radius: 50%; /* Deixar o botão redondo */
    text-align: center; /* Centralizar o texto */
    font-size: 20px; /* Tamanho da fonte */
    cursor: pointer; /* Mostrar cursor de ponteiro */
    box-shadow: 0 2px 4px var(--shadow-color); /* Sombra */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
    appearance: none;    
    text-indent: 9999px; /* Move o texto para fora da área visível */
}

.options select:hover {
    background-color: #4d4d4d; /* Cor de fundo no hover */
}

.options select:focus { 
    outline: none;
}

.options select option {
    color: white; /* Cor do texto */
    padding: 5px;
    font-size: 15px; /* Tamanho da fonte */
    text-align: left;
}

.option-1-container, .option-2-container {
    position: relative;
}

.option-1-container label i,
.option-2-container label i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#vazio {
    width: 20%;
}

.table-estilosa thead tr {
    background-color: #24608d; /* Cor de fundo do cabeçalho */
    color: #000000; /* Cor do texto do cabeçalho */
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    min-height: 100%;
}

.table-container th {
    margin: 0px 10px;
}

.options-bill-container {
    position: relative;
}

.options-bill-container select {
    width: 20px;
    height: 35px;
    background-color: transparent;
    color: transparent; /* Torna o texto transparente */
    padding: 0px 13px; /* Espaçamento interno */
    margin: 0px 5px;
    border: none; /* Remover a borda padrão */
    border-radius: 25%; /* Deixar o botão redondo */
    text-align: center; /* Centralizar o texto */
    font-size: 20px; /* Tamanho da fonte */
    cursor: pointer; /* Mostrar cursor de ponteiro */
    appearance: none;    
    text-indent: 9999px; /* Move o texto para fora da área visível */
}


.options-bill-container select:focus { 
    outline: none;
    color: white;
}

.options-bill-container select option {
    background-color: #4d4d4d; /* Cor de fundo no hover */
    color: white; /* Cor do texto */
    font-size: 15px; /* Tamanho da fonte */
    text-align: left;
}

.options-bill-container label svg {
    color: black;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

tr:hover .options-bill-container label svg {
    color: white;
}

.table-estilosa tbody button {
    width: 100%;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

th #pago {
    color: green;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra no texto do <p> */
    text-align: center; /* Centraliza o texto horizontalmente */
    font-size: 32px; /* Ajusta o tamanho do texto; altere conforme necessário */
}

th #pagar {
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra no texto do <p> */
    text-align: center;
}

.table-container {
    overflow-x: auto; /* Permite scroll horizontal */
    min-height: 70%;
    max-height: 400px;
    overflow-y: auto;
    white-space: nowrap; /* Impede quebra de linha na tabela */
}

.table-estilosa {
    width: 100%;
    border-collapse: collapse;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* Sombra ao redor da tabela */
    display: inline-table; /* Faz a tabela respeitar o tamanho do conteúdo */
}

.table-estilosa th {
    font-weight: lighter;
    font-size: 15px;
    padding: 0px 10px;
   
}

/* Estilo da caixa de diálogo */
.modal {
    display: none; /* Oculta a caixa de diálogo por padrão */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Permite rolar o conteúdo se necessário */
    background-color: rgba(0,0,0,0.4); /* Cor de fundo semi-transparente */
    z-index: 1000; /* Garante que a caixa de diálogo fique acima dos outros conteúdos */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo do botão */
.view-details-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}

.table-estilosa tbody tr:nth-of-type(even) {
    background-color: #f3f3f3; /* Cor de fundo para linhas pares */
}

.table-estilosa tbody tr:last-of-type {
    border-bottom: 1px solid #85858550; /* Linha mais grossa na última linha */
}

.table-estilosa tbody tr:hover {
    background-color: #92bef7; /* Cor de fundo ao passar o mouse */
}
