body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    min-height: 80vh;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #e4e6eb;
    z-index: 1000;
}

main {
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo ao final (direita) */
    align-items: flex-start;
    max-height: 80vh; /* Altura total da tela */
    padding-top: 80px; /* Altura do header para não sobrepor */
    padding-right: 100px; /* Espaço entre o container e a borda direita da página */
    
}


.login-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
}


.login-container h1 {
    margin: 0 0 20px;
    font-size: 24px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #124773;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #165eab;
}

#signup {
    background-color: #329b1d;
    margin-top: 10px;
    color: #ffffff;
}
#signup:hover {
    opacity: 0.9;
}

.logo-home {       
    padding: 10px;
    width: 70%;
    min-width: 300px;
    margin-top: -170px;
    margin-left: -110px;
    margin-right: -110px;
    display: flex;
}

.logo-home img {
    width: 500px; 
    height: 500px; 
} 