<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Gerenciador de Boletos.">
  <meta name="keywords" content="palavras-chave, separadas, por, vírgula">
  <meta name="author" content="Clayton Garcia da Silva">
  <title>{% block title %}BillFlux{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" sizes="any">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style-base.css') }}">
</head>
<body>
  <header id="header-main">
    <div id="header-container">
      <h1 class="title-main">
        <a href="/home">BillFlux</a>
      </h1>
      <nav class="navbar-main" role="navigation" aria-label="Main Navigation">
        <ul>
          <li><a href="/home" aria-label="Home">Home</a></li>
          <li><a href="/" aria-label="About">About</a></li>
          <li><a href="/bills" aria-label="Profile">Bills</a></li>
        </ul>
      </nav>
    </div>
  </header>

  {% block content %}
  {% endblock %}

  <footer class="footer">
    <p>&copy; <span id="year"></span> Clayton Garcia da Silva, Br.</p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script>
    document.getElementById('year').textContent = new Date().getFullYear();
  </script>
</body>
</html>