<link rel="stylesheet" href="{{ url_for('static', filename='css/bills.css') }}" rel="stylesheet">
<script src="https://kit.fontawesome.com/c996c5ea01.js" crossorigin="anonymous"></script>


{% extends 'base.html' %}

{% block title %}{{ super() }} - Bills{% endblock %}

{% block content %}

<main id="main">

    <div class="navbar-1">
    </div>

    <div class="navbar-2">
        <h1>Contas a Pagar</h1>
        <div class="options">
            <button>+</button>
            <div class="search">
                <label for="search"><i class="fas fa-search"></i></label>
                <input type="text" name="search" id="search">
            </div>
            <div class="option-1-container">
                <label for="option-1""><i>▼</i></label>
                <select id="option-1" class="hidden-select">
                    <option value="Imprimir">Imprimir</option>
                    <option value="Exportar">Exportar</option>
                    <option value="Agrupar">Agrupar por coluna</option>
                </select>
            </div>
            
            <div class="option-2-container">
                <label for="option-2""><i>🌪️</i></label>
                <select id="option-2" class="hidden-select">
                    <option value="Todas">Todas</option>
                    <option value="Não Pagas">Não Pagas</option>
                    <option value="Vencidas">Vencidas</option>
                    <option value="À vencer">À vencer</option>
                    <option value="Hoje">Hoje</option>
                    <option value="Pagas">Pagas</option>
                </select>
            </div>

            <div id="vazio">
            </div>
        </div>

        <section class="conteudo">
            <div class="tabela">
                <div class="tickets-items">

                    <table class="tabela-estilosa">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Ação</th>
                                <th>Status</th>
                                <th>Vencimento</th>
                                <th>Valor</th>
                                <th>Referente a</th>
                                <th>Fornecedor</th>
                                <th>Tipo</th>
                                <th>Dias</th>
                                <th>Pago em</th>
                                <th>Valor pago</th>
                                <th>Número do documento</th>
                                <th>Observações</th>
                                <th>Lançado em</th>
                            </tr>
                        </thead>

                        {% for bill in bills_list %}

                        <tbody>
                            <tr>
                                <th>
                                    <div class="options">
                                        <label for="options-ticket">┆</label>
                                        <select name="options" id="options">
                                            <option value="Pagar">Pagar</option>
                                            <option value="Excluir">Excluir</option>
                                            <option value="Editar">Editar</option>
                                        </select>
                                    </div>
                                </th>
                                <th><button>Editar</button></th>
                                <th>{{ bill.status }}</th>
                                <th>{{ bill.due_date }}</th>
                                <th>{{ bill.value }}</th>
                                <th>{{ bill.reference }}</th>
                                <th>{{ bill.suplyer }}</th>
                                <th>{{ bill.bill_type }}</th>
                                <th>{{ bill.days }}</th>
                                <th>{{ bill.payday }}</th>
                                <th>{{ bill.value_from_payment }}</th>
                                <th>{{ bill.bar_code }}</th>
                                <th>{{ bill.obs }}</th>
                                <th>{{ bill.date_from_add }}</th>
                            </tr>
                        </tbody>

                        {% endfor %}

                    </table>
                </div>
            </div>
        </section>
    </div>

</main>

{% endblock %}
