{% extends 'base.html' %}

{% block title %}{{ super() }} - Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-home.css') }}">
</head>
<body>
    <div class="container">

        <main>
            <div class="logo-home">
                <img src="{{ url_for('static', filename='img/logo-home.png') }}" alt="Large Logo">
            </div>
            <div class="login-container">
                <!-- Exibe as mensagens de erro ou sucesso -->
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <ul class="login-flashes">
                      {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}

                <form action="{{ url_for('bp_home.login') }}" method="post">
                    <div class="input-container">
                        <input type="email" class="input-field" name="email" placeholder="">
                        <h5 class="placeholder-text">Email</h5>
                    </div>
                    <div class="input-container">
                        <input type="password" class="input-field" name="password" placeholder="">
                        <h5 class="placeholder-text">Password</h5>
                    </div>
                    <button type="submit">Log In</button>
                </form>

                <button type="button" class="btn-signup" id="signup">Create new account</button>
            </div>
        </main>
    </div>

    <!-- Modal de cadastro -->
    <div id="modal-signup" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="POST" action="{{ url_for('bp_home.signup') }}">
                <label for="new-email">Email</label>
                <input type="email" id="new-email" name="email" required>
                
                <label for="new-password">Password</label>
                <input type="password" id="new-password" name="password" required>
                
                <label for="confirm-password">Confirm Password</label>
                <input type="password" id="confirm-password" name="confirm_password" required>

                <button type="submit">Register</button>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>

</body>
</html>
{% endblock %}
